In [26]:
import pandas as pd
import seaborn as sns

data_lme = pd.read_csv("lme.csv")

data_lme.head()

              Date        Product Currency      Value
0  21 October 2019  LME Aluminium      US$   1,735.50
1  21 October 2019     LME Copper      US$   5,820.00
2  21 October 2019       LME Zinc      US$   2,500.00
3  21 October 2019     LME Nickel      US$  16,200.00
4  21 October 2019       LME Lead      US$   2,202.00

In [27]:
data_lme.describe()

                   Date          Product Currency      Value
count                52               52       52         52
unique                4               13        1         48
top     23 October 2019  LME Steel Scrap      US$  35,500.00
freq                 13                4       52          4